@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

/*<-- Text -->*/
.title {
  font-size: 24px;
}
.desc {
  font-size: 16px;
  color: #666;
}
.texto {
  font-size: 12px;
}
.descuento {
  margin-left: 10px;
  font-size: 16px;
  color: #39d54a;
  display: inline;
  width: 70%;
  font-weight: 500;
}
.precio {
  font-weight: 500;
  display: inline;
  width: 30%;
}

/*<-- Header -->*/
header {
  background-color: #eac926;
  padding: 20px;
  text-align: center;
}
.navbar-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar-top p {
  margin: 10px;
}
.logo {
  width: 40%;
}
.searchInput {
  display: flex;
  width: 40%;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
ul div {
  display: flex;
}

.navItem {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
.burger-menu {
  background-color: #1259c3;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding: 6px 10px;
  display: inline;
}

/*<-- Section banner -->*/
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}

/*<-- Main -->*/
body {
  background-color: #ebebeb;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulos {
  display: flex;
  flex-direction: column;
}
.card {
  margin: 10px;
  width: 80vw;
  background-color: white;
}
.card img {
  width: 100%;
}

.datosArticulo {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  width: 100%;
  position: relative;
}

.envio {
  display: block;
  border-radius: 50%;
  color: #39d54a;
  padding: 5px;
  border: 1px solid #39d54a;
  position: absolute;
  right: 20px;
  top: -15px;
}

/*<-- Footer -->*/

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.icon {
  margin-bottom: 5%;
  color: #1259c3;
  font-size: 2em;
}
.footerItem {
  margin: 8% 5%;
}

/* <-- Media querys --> */

@media (min-width: 361px) {
  .card .desc {
    display: none;
  }
  ul {
    display: none;
  }
}

/*
Media querys sizes:
Smaller smarthphones -> 0-480
Tablets & larger smarthphones -> 481-768
Laptops,larger tablets, and small desktops -> 769 - 1279
Larger desktops -> 1280+
*/

@media (min-width: 796px) {
  .articulos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card .desc {
    display: block;
  }
  .card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 35vw;
  }
  .burger-menu {
    display: none;
  }
  ul {
    display: flex;
  }
}

@media (min-width: 1279px) {
  .card {
    width: 20vw;
  }
  .footerContent {
    display: flex;
    flex-direction: row;
  }
  .footerItem {
    width: 30%;
  }
  .navbar-top .logo {
    width: 30%;
  }
  .navbar-top .searchInput {
    width: 30%;
  }
  .navbar-top p {
    width: 30%;
  }
}
