@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

/*<-- Text config -->*/
.title {
  font-size: 24px;
}
.card-desc {
  font-size: 16px;
  color: #666;
}
.card-texto {
  font-size: 12px;
}
.card-descuento {
  margin-left: 10px;
  font-size: 16px;
  color: #39d54a;
  display: inline;
  width: 70%;
  font-weight: 500;
}
.card-precio {
  font-weight: 500;
  display: inline;
  width: 30%;
}
/* <-------------------> */

/* <-- Header --> */
header {
  background-color: #eac926;
  padding: 20px;
}
.navbar-bottom {
  display: none;
}
.navbar-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-logo {
  width: 50%;
  padding: 20px;
}
.navbar-searchArea {
  align-self: center;
  width: 50%;
}
.navbar-searchArea {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar-searchArea input {
  width: 80%;
}
.navbar-searchArea i {
  position: absolute;
  right: 12%;
  font-size: 0.9rem;
  color: #666;
  z-index: 2;
}
.navbar-top p {
  font-size: 1rem;
  padding: 15px;
}
.burger-menu {
  background-color: #1259c3;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding: 4px 8px;
  display: inline;
}
li {
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: space-between;
}
ul div {
  display: flex;
}

/* <------------> */

/*<-- Section banner -->*/
.section-banner {
  width: 100%;
}
.section-banner img {
  width: 100%;
}
/* <-------------------> */

/* <-- Main --> */
body {
  background-color: #ebebeb;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulos {
  display: flex;
  flex-direction: column;
}
.card {
  margin: 10px;
  width: 80vw;
  background-color: white;
}
.card img {
  width: 100%;
}

.card-datos {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  width: 100%;
  position: relative;
}

.card-icon {
  display: block;
  border-radius: 50%;
  color: #39d54a;
  padding: 5px;
  border: 1px solid #39d54a;
  position: absolute;
  right: 20px;
  top: -15px;
}
/* <----------> */

/*<-- Section footer --> */
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.icon {
  margin-bottom: 5%;
  color: #1259c3;
  font-size: 2em;
}
.footerItem {
  margin: 8% 5%;
}
/*<------------>*/

@media (min-width: 830px) {
  .articulos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card .card-desc {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 35vw;
  }
  .navbar-bottom {
    display: block;
  }
}

@media (min-width: 1279px) {
  .card {
    width: 20vw;
  }
  .footerContent {
    display: flex;
    flex-direction: row;
  }
  .footerItem {
    width: 30%;
  }
  .navbar-logo {
    width: 30%;
  }
  .navbar-searchArea {
    width: 30%;
  }
  .navbar-top p {
    width: 30%;
    align-self: center;
  }
}
